Optimize JavaScript load times

WHO: Sylvia

In conducting speed tests on the site, I have found that none of our loaded resources take much longer to load than necessary.  This issue will have to be fixed before we can correctly determine our CU compute resources. 

Here are two places to start:

1) Load only the files we need. The wiki editor is being loaded with every page, and it is a load hog. 
2) Set a caching policy. None of our files have this, so they are loaded every time. Background can be found at: https://developers.google.com/speed/docs/insights/LeverageBrowserCaching

Speed test report at: 
http://tools.pingdom.com/fpt/#!/c5uRE8/www.earthsystemcog.org/projects/cog/

I suggest starting with these items and retesting. I think we can only test on the live system so this will be an iterative process over multiple releases. 


Optimize Javascript Placement

Place your javascript at the end of your HTML file if possible. Notice how Google analytics and other stat tracking software wants to be right before the closing </body> tag.

This allows the majority of page content (like images, tables, text) to be loaded and rendered first. The user sees content loading, so the page looks responsive. At this point, the heavy javascripts can begin loading near the end.

I used to have all my javascript crammed into the <head> section, but this was unnecessary. Only core files that are absolutely needed in the beginning of the page load should be there. The rest, like cool menu effects, transitions, etc. can be loaded later. You want the page to appear responsive (i.e., something is loading) up front.

![js_size](https://cloud.githubusercontent.com/assets/1512704/8364914/d6e0c6fc-1b46-11e5-9afc-a7272cf3527f.png)


Here is some info on caching:
https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/http-caching#cache-control

Issues: we can't added caching to wiki pages, they might change. We could add them to the javascript libraries because they don't change at all. 

We load local copies of the YUI library. Should we load a CDN version? 

To use cache-control in HTML, you use the meta tag, e.g.

<meta http-equiv="Cache-control" content="public">


To test if any of our JS is cached:

In Chrome, open the Inspector (right-click, "Inspect Element"), then click the Network tab. Now reload the page. You should see a list of all of the elements that were loaded for the page.

To determine if the Javascript (or any element) was cached, what you want to look for is the "Size" column. Data that is browser-cached will show "(from cache)" as the Size value. If you see anything else for Size, that means it was loaded over the network and wasn't loaded from the browser cache.


SJM: Just did this. Everything loads every time. 

Using Etag forces strong validation of the cache-control mechanism for Firefox. Firefox tries to follow the RFC 2616 section 13.3.2. If the file has not changed on the server you should see a response of 304 Not Modified.